@import '../../styles/variables.scss';

.container {
  position: relative;
  height: 100vh;
  background: rbg(36, 38, 51);
  color: $white;
}

.nav,
.content {
  display: inline-block;
  vertical-align: top;
  height: 100vh;
}

.nav {
  position: relative;
  width: 20%;
  padding: 40px 25px;
  background: rgb(49, 51, 64);

  .wallets {
    margin-top: 20px;

    .subHeader {
      font-size: 16px;
      line-height: 32px;
      font-weight: bold;
    }

    .wallet {
      margin: 10px 0;

      &.active {
        color: rgb(253, 152, 0);
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}

.content {
  width: 80%;
}
