@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  background: var(--darkestBackground);
  color: var(--primaryText);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.titleBar {
  height: 20px;
  width: 100%;
  position: absolute;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.nav,
.content {
  height: 100vh;
}

.nav {
  position: relative;
  width: 20%;
  padding: 40px 25px;
  background: var(--lightBackground);

  .wallets {
    margin-top: 20px;
    font-size: 12px;

    .walletContainer {
      margin-bottom: 50px;
    }

    .subHeader {
      font-size: 14px;
      line-height: 32px;
      font-weight: 400;
    }

    .wallet {
      margin: 10px 0;
      cursor: pointer;
      transition: all 0.25s;

      &:hover {
        opacity: 0.5;
      }

      &.active {
        color: var(--lightningOrange);
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 80px;
    left: 0;
    padding: 20px;
    width: calc(100% - 40px);
    text-align: center;
    font-size: 13px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
      opacity: 0.5;
    }

    i,
    svg {
      vertical-align: middle;
    }

    svg {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
  }
}

.content {
  width: 80%;

  nav {
    text-align: right;
    padding: 20px;
    font-size: 12px;

    .user {
      cursor: pointer;

      &:hover {
        .username,
        .down {
          opacity: 0.5;
        }
      }

      .username,
      .down {
        transition: all 0.25s;
      }

      .circle svg {
        width: 5px;
        height: 5px;
        fill: var(--superGreen);
        margin-right: 5px;
      }
    }
  }

  .walletInfo {
    margin-top: 50px;
    padding: 0 50px;
    width: 75%;

    .header {
      margin-bottom: 50px;

      h1,
      .launch {
        display: inline-block;
        vertical-align: top;
      }

      h1 {
        font-size: 50px;
        margin-right: 50px;
      }

      .launch {
        background: var(--lightningOrange);
        padding: 8px 20px;
        font-size: 12px;
        cursor: pointer;
        transition: all 0.25s;
        border-radius: 5px;

        &:hover {
          opacity: 0.5;
        }

        svg {
          vertical-align: middle;
        }
      }
    }

    .settings {
      h2 {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1.3px;
      }

      .chain,
      .autopilot {
        margin: 20px 0;

        h3 {
          font-size: 12px;
          padding: 15px 0;
        }

        .divider {
          width: 100%;
          height: 1px;
          background: var(--lightBackground);
        }
      }

      .chain {
        .chains {
          display: flex;
          flex-direction: row;
          margin-top: 20px;

          section {
            margin-right: 30px;

            div {
              padding: 10px;
              border: 1px solid var(--lightBackground);
              border-radius: 5px;
              cursor: pointer;
              transition: all 0.25s;

              &:hover {
                border-color: var(--lightningOrange);
                opacity: 0.5;
              }

              &.active {
                border-color: var(--lightningOrange);
              }
            }
          }

          svg {
            width: 30px;
            height: 30px;

            path {
              // fill: var(--darkestBackground);
            }
          }
        }
      }

      .autopilot {
        header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        .autopilotConfig {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 25px 0;
          font-size: 12px;

          input {
            background: transparent;
            border: none;
            color: white;
            width: auto;
            text-align: right;
            outline: none;
            font-size: 12px;
          }

          aside {
            display: inline-block;
            vertical-align: -webkit-baseline-middle;

            &:nth-child(1) {
              margin-right: 5px;
            }

            i {
              display: block;

              svg {
                font-size: 8px;
                cursor: pointer;
                transition: all 0.25s;

                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }
}
